.calculator-widget {
    border: 1px solid #06bd9e;
    border-radius: 5px;
    padding: 10px;
    width: 230px;
}
  
/* input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
} */

input[type="text"] {
    width: calc(100% - 20px); /* Adjust input width to fit within container padding */
    margin-bottom: 10px;
    padding: 8px; 
    font-size: 16px;
    border: 1px solid #02e0bb; 
    border-radius: 3px;
}
  
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
  
button {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #f0f0f0;
    border: 1px solid #02e0bb;
    border-radius: 6px;
    cursor: pointer;
}

.button-text {
    color: #e80707;
}

.button-operand-text {
    color: hwb(239 3% 9%);
}
  
button:hover {
    background-color: #d9fbff;
}